<!-- hero-area start -->
<section class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="hero pos-relative mb-30">
                    <div class="hero__thumb" data-overlay="dark-gradient">
                        <a href="#"><img src="assets/img/hero/part1/hero1.jpg" alt="hero image"></a>
                    </div>
                    <div class="hero__text">
                        <span class="post-cat mb-10"><a href="#">politics</a></span>
                        <h3 class="pr-100"><a href="#">Woman fights for life after car hits two at netball courts</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hero pos-relative mb-30">
                    <div class="hero__thumb" data-overlay="dark-gradient">
                        <a href="#">
                            <img src="assets/img/hero/part1/hero2.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="hero__text hero__text-small">
                        <span class="post-cat mb-10">
                            <a href="#">fashion</a>
                        </span>
                        <h3 class="pr-0">
                            <a href="#">Hamels solid in debut as cubs throttle pirates world.</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="hero pos-relative mb-30">
                    <div class="hero__thumb" data-overlay="dark-gradient">
                        <a href="#">
                            <img src="assets/img/hero/part1/hero3.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="hero__text hero__text-small">
                        <span class="post-cat mb-10">
                            <a href="#">fashion</a>
                        </span>
                        <h3 class="pr-0">
                            <a href="#">Must be solid in debut as cubs throttle pirates world.</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hero-area end -->

<!-- news area -->
<section class="news-area pt-30 pb-30">
    <!-- trendy news -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-30">
                    <h2>trendy news</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-10">
            <div class="col-20">
                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/trendy/sm1.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="#">Paul Manafort’s Accountant Testifies She Helped Alter Financial Documents</a>
                        </h4>
                    </div>
                </div>
                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/trendy/sm2.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="#">Rina Sawayama Is Not the Asian Britney Spears</a>
                        </h4>
                    </div>
                </div>
                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/trendy/sm3.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="#">Receiving the Summer Sols tice the Swedish Way</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-40">
                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/trendy/lg1.jpg" alt="hero image">
                        </a>
                        <span class="post-cat post-absolute">
                            <a href="#">politic</a>
                        </span>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="title-16 pr-0">
                            <a href="#">Trump’s Inaccurate Claims About High ways the world, Immigration and Beyoncé.</a>
                        </h4>
                    </div>
                </div>

                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/trendy/lg2.jpg" alt="hero image">
                        </a>
                        <span class="post-cat post-absolute">
                            <a href="#">travel</a>
                        </span>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="title-16 pr-0">
                            <a href="#">Moving From Buyer to Seller, Major League Soccer Revenue In The World Wide Claims About.</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-20 d-md-none d-xl-block">
                <div class="post__small mb-30">
                    <div class="post__small-thumb f-left">
                        <a href="#">
                            <img src="assets/img/trendy/xs/xs-1.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="post__small-text fix pl-10">
                        <span class="sm-cat">
                            <a href="#">Fashion</a>
                        </span>
                        <h4 class="title-13 pr-0">
                            <a href="#">Storm in aw ame home away.</a>
                        </h4>
                        <div class="post__small-text-meta">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post__small mb-30">
                    <div class="post__small-thumb f-left">
                        <a href="#">
                            <img src="assets/img/trendy/xs/xs-2.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="post__small-text fix pl-10">
                        <span class="sm-cat">
                            <a href="#">Fashion</a>
                        </span>
                        <h4 class="title-13 pr-0">
                            <a href="#">Good ridre urants bid farewell.</a>
                        </h4>
                        <div class="post__small-text-meta">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post__small mb-30">
                    <div class="post__small-thumb f-left">
                        <a href="#">
                            <img src="assets/img/trendy/xs/xs-3.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="post__small-text fix pl-10">
                        <span class="sm-cat">
                            <a href="#">Fashion</a>
                        </span>
                        <h4 class="title-13 pr-0">
                            <a href="#">Nahan dow plays Lieral lership..</a>
                        </h4>
                        <div class="post__small-text-meta">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post__small mb-30">
                    <div class="post__small-thumb f-left">
                        <a href="#">
                            <img src="assets/img/trendy/xs/xs-4.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="post__small-text fix pl-10">
                        <span class="sm-cat">
                            <a href="#">Travel</a>
                        </span>
                        <h4 class="title-13 pr-0">
                            <a href="#">Weinstein pushs for dismissal.</a>
                        </h4>
                        <div class="post__small-text-meta">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post__small mb-30">
                    <div class="post__small-thumb f-left">
                        <a href="#">
                            <img src="assets/img/trendy/xs/xs-5.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="post__small-text fix pl-10">
                        <span class="sm-cat">
                            <a href="#">Politic</a>
                        </span>
                        <h4 class="title-13 pr-0">
                            <a href="#">New Season Tiets Seat Optional.</a>
                        </h4>
                        <div class="post__small-text-meta">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post__small mb-30">
                    <div class="post__small-thumb f-left">
                        <a href="#">
                            <img src="assets/img/trendy/xs/xs-6.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="post__small-text fix pl-10">
                        <span class="sm-cat">
                            <a href="#">Study</a>
                        </span>
                        <h4 class="title-13 pr-0">
                            <a href="#">For Marilyn St Any Place Can Be..</a>
                        </h4>
                        <div class="post__small-text-meta">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="post-btn mb-30">
                   <a href="#" class="btn btn-border">view more</a>
                </div>
            </div>
            <div class="col-20 ">
                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/trendy/sm4.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="#">Paul Manafort’s Accountant Testifies She Helped Alter Financial Documents</a>
                        </h4>
                    </div>
                </div>
                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/trendy/sm5.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="#">Rina Sawayama Is Not the Asian Britney Spears</a>
                        </h4>
                    </div>
                </div>
                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/trendy/sm6.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="#">Receiving the Summer Sols tice the Swedish Way</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- trendy news end -->
</section>
<!-- news area end -->


<!-- cat news -->
<section class="cat-area pb-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="section-title mb-30">
                    <h2>Science</h2>
                </div>

                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/cat/cat1.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-20">
                        <h4 class="title-18 pr-0">
                            <a href="#">Mustify Winner Is Rtired Because of Weaths Bads Ankle World Wide.</a>
                        </h4>
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cat-sm-post">
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-12.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Hobots or Job Training: Mnutuers Grapple With How to Improve.</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-11.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Robots or Job Training: Manutues Grapple With How to Improve..</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="section-title mb-30">
                    <h2>travel</h2>
                </div>

                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/cat/cat2.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-20">
                        <h4 class="title-18 pr-0">
                            <a href="#">Robots or Job Training: Manutues Grapple With How to Improve.</a>
                        </h4>
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cat-sm-post">
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-7.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Canadian Shoppers Pay When Visa and MasterCard.</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-8.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Who is next football Super Hero. Check the future star</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 d-md-none d-lg-block">
                <div class="section-title mb-30">
                    <h2>lifestyle</h2>
                </div>

                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/cat/cat3.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-20">
                        <h4 class="title-18 pr-0">
                            <a href="#">Denying passports to Americans along the border throwing their citizens.</a>
                        </h4>
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>
                                <li>
                                    <i class="far fa-comment"></i>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cat-sm-post">
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-10.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Hobots or Job Training: Mnutuers Grapple With How to Improve.</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-9.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Robots or Job Training: Manutues Grapple With How to Improve..</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cat news end -->



<section class="app-area pb-60">
<div class="grey-bg pt-55 pb-55 pl-60 pr-60">
  <div class="row">
    <div class="col-xl-6 col-lg-12">
      <div class="app-text text-center text-xl-left">
        <h2>Bizi Cepten Takip Edin</h2>
        <br>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="app-store text-center text-xl-right">
        <img class="mr-2 mb-1" src="assets/img/store/apple.png" alt="apple store app">
        <img src="assets/img/store/google.png" alt="play store app">
      </div>
    </div>
  </div>
</div>
</section>
