<!-- hero-area start -->
<section class="hero-area">
    <div class="container">
        <div class="row">

          <ng-container *ngFor="let firstArticle of firstSixArticle; let iFirst = index">
            <div *ngIf="iFirst === 0" class="col-lg-6 col-md-12">
                <div class="hero pos-relative mb-30">
                    <div class="hero__thumb" data-overlay="dark-gradient">
                        <a href="#"><img src="{{ environment.apiEndpoint + 'media/' + firstArticle.image625x400 }}" alt="hero image"></a>
                    </div>
                    <div class="hero__text">
                        <span class="post-cat mb-10"><a href="#">{{ firstArticle.makale_kategori }}</a></span>
                        <h3 class="pr-100"><a href="#">{{ firstArticle.makale_baslik }}</a></h3>
                    </div>
                </div>
            </div>
            <div *ngIf="iFirst === 1" class="col-lg-3 col-md-6">
                <div class="hero pos-relative mb-30">
                    <div class="hero__thumb" data-overlay="dark-gradient">
                        <a href="#">
                            <img src="{{ environment.apiEndpoint + 'media/' + firstArticle.image297x400 }}" alt="hero image">
                        </a>
                    </div>
                    <div class="hero__text hero__text-small">
                        <span class="post-cat mb-10">
                            <a href="#">{{ firstArticle.makale_kategori }}</a>
                        </span>
                        <h3 class="pr-0">
                            <a href="#">{{firstArticle.makale_baslik}}</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div *ngIf="iFirst === 2" class="col-lg-3 col-md-6">
                <div class="hero pos-relative mb-30">
                    <div class="hero__thumb" data-overlay="dark-gradient">
                        <a href="#">
                            <img src="{{ environment.apiEndpoint + 'media/' + firstArticle.image297x400 }}" alt="hero image">
                        </a>
                    </div>
                    <div class="hero__text hero__text-small">
                        <span class="post-cat mb-10">
                            <a href="#">{{ firstArticle.makale_kategori }}</a>
                        </span>
                        <h3 class="pr-0">
                            <a href="#">{{firstArticle.makale_baslik}}</a>
                        </h3>
                    </div>
                </div>
            </div>
          </ng-container>


        </div>
    </div>
</section>
<!-- hero-area end -->

<!-- news area -->
<section class="news-area pt-30 pb-30">
    <!-- trendy news -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title mb-30">
                    <h2>Cezada Son Yayınlar</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-10">
            <div class="col-20">

              <ng-container *ngFor="let yaralamaItem of firstFourYaralama; let iYaralama = index">
                <div *ngIf="iYaralama < 3" class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="{{ environment.apiEndpoint + 'media/' + yaralamaItem.image240x160 }}" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>{{ yaralamaItem.makale_yayintarihi }}</span>
                                </li>

                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="#">{{ yaralamaItem.makale_baslik }}</a>
                        </h4>
                    </div>
                </div>
              </ng-container>




            </div>


            <!-- 2 x 500x287 -->
            <div class="col-40">

              <ng-container *ngFor="let hakaretTwo of FirstFourHakaret; let iHakaretTwo = index;">
                <div *ngIf="iHakaretTwo < 2" class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="{{ environment.apiEndpoint + 'media/' + hakaretTwo.image500x287 }}" alt="hero image">
                        </a>
                        <span class="post-cat post-absolute">
                            <a href="#">{{ hakaretTwo.makale_kategori }}</a>
                        </span>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>{{ hakaretTwo.makale_yayintarihi }}</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="title-16 pr-0">
                            <a href="#">{{ hakaretTwo.makale_baslik }}</a>
                        </h4>
                    </div>
                </div>
              </ng-container>

            </div>


            <!-- 6 x 100x85 -->
            <div class="col-20 d-md-none d-xl-block">
              <ng-container *ngFor="let smallItem of firstSixArticle; let iSmall = index;">

                <div class="post__small mb-30">
                    <div class="post__small-thumb f-left">
                        <a href="#">
                            <img src="{{ environment.apiEndpoint + 'media/' + smallItem.image100x85 }}" alt="hero image">
                        </a>
                    </div>
                    <div class="post__small-text fix pl-10">
                        <span class="sm-cat">
                            <a href="#">{{ smallItem.makale_kategori }}</a>
                        </span>
                        <h4 class="title-13 pr-0">
                            <a href="#">{{ smallItem.makale_baslik }}</a>
                        </h4>
                        <div class="post__small-text-meta">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>{{ smallItem.makale_yayintarihi }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
              </ng-container>

                <div class="post-btn mb-30">
                   <a href="#" class="btn btn-border">Tüm Yayınlar</a>
                </div>

            </div>

            <!-- 3 x 240x160 makale -->
            <div class="col-20 ">

              <ng-container *ngFor="let beyazYakaliItem of firstFourBeyazyakalisuclari; let iBeyaz = index;">
                <div *ngIf="iBeyaz < 3" class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="{{ environment.apiEndpoint + 'media/' + beyazYakaliItem.image240x160 }}" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-10">
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>{{ beyazYakaliItem.makale_yayintarihi }}</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="pr-0">
                            <a href="#">{{ beyazYakaliItem.makale_baslik }}</a>
                        </h4>
                    </div>
                </div>
              </ng-container>

            </div>
        </div>
    </div>
    <!-- trendy news end -->
</section>
<!-- news area end -->


<!-- cat news -->
<section class="cat-area pb-30">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="section-title mb-30">
                    <h2>Yaralama</h2>
                </div>

                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/cat/cat1.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-20">
                        <h4 class="title-18 pr-0">
                            <a href="#">Mustify Winner Is Rtired Because of Weaths Bads Ankle World Wide.</a>
                        </h4>
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cat-sm-post">
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-12.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Hobots or Job Training: Mnutuers Grapple With How to Improve.</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-11.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Robots or Job Training: Manutues Grapple With How to Improve..</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="section-title mb-30">
                    <h2>Hakaret</h2>
                </div>

                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/cat/cat2.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-20">
                        <h4 class="title-18 pr-0">
                            <a href="#">Robots or Job Training: Manutues Grapple With How to Improve.</a>
                        </h4>
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cat-sm-post">
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-7.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Canadian Shoppers Pay When Visa and MasterCard.</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-8.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Who is next football Super Hero. Check the future star</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 d-md-none d-lg-block">
                <div class="section-title mb-30">
                    <h2>Örgüt Suçları</h2>
                </div>

                <div class="postbox mb-25">
                    <div class="postbox__thumb">
                        <a href="#">
                            <img src="assets/img/cat/cat3.jpg" alt="hero image">
                        </a>
                    </div>
                    <div class="postbox__text pt-20">
                        <h4 class="title-18 pr-0">
                            <a href="#">Denying passports to Americans along the border throwing their citizens.</a>
                        </h4>
                        <div class="postbox__text-meta pb-10">
                            <ul>
                                <li>
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>01 Sep 2018</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="cat-sm-post">
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-10.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Hobots or Job Training: Mnutuers Grapple With How to Improve.</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="post__small mb-30">
                        <div class="post__small-thumb f-left">
                            <a href="#">
                                <img src="assets/img/trendy/xs/xs-9.jpg" alt="hero image">
                            </a>
                        </div>
                        <div class="post__small-text fix pl-10">
                            <h4 class="title-16 pr-0 mt-0">
                                <a href="#">Robots or Job Training: Manutues Grapple With How to Improve..</a>
                            </h4>
                            <div class="post__small-text-meta">
                                <ul>
                                    <li>
                                        <i class="fas fa-calendar-alt"></i>
                                        <span>01 Sep 2018</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cat news end -->



<section class="app-area pb-60">
<div class="grey-bg pt-55 pb-55 pl-60 pr-60">
  <div class="row">
    <div class="col-xl-6 col-lg-12">
      <div class="app-text text-center text-xl-left">
        <h2>Bizi Cepten Takip Edin</h2>
        <br>
      </div>
    </div>
    <div class="col-xl-6 col-lg-12">
      <div class="app-store text-center text-xl-right">
        <img class="mr-2 mb-1" src="assets/img/store/apple.png" alt="apple store app">
        <img src="assets/img/store/google.png" alt="play store app">
      </div>
    </div>
  </div>
</div>
</section>
