
<ng-container *ngIf="makale">

  <div class="post-details">
      <h2 class="details-title mb-15">{{ makale.makale_baslik }}</h2>

      <!-- meta -->
      <div class="postbox__text-meta pb-30">
          <ul>
              <li>
                  <i class="fas fa-calendar-alt"></i>
                  <span>{{ makale.makale_yayintarihi }}</span>
              </li>

          </ul>
      </div>



       <!-- post-thumb -->
      <div class="post-thumb mb-25">
          <img style="width: 100%;" src="{{ environment.apiEndpoint + 'media/' + makale.image625x400 }}" alt="">
      </div>

      <!-- post-content -->
      <div class="post-content">
        <div [innerHTML]="makale.makale_mesaj"></div>
      </div>

      <!-- content__tags -->
      <div class="content__tags mt-30">
          <span>Anahtar Kelimeler: </span>
          <span class="content__tags-list">
              <a *ngFor="let makaletag of makale.tag" href="#0">{{makaletag}}</a>
          </span>
      </div>


       <!-- s-content__pagenav -->
      <div class="s-content__pagenav mt-60">
          <div class="s-content__nav">
             <div class="row">
                 <div class="col-md-6">
                      <div class="s-content__prev mb-30">
                          <a href="#0" rel="prev">
                              <span>Previous Post</span>
                               Farmers plead for bullets to put down emaciated stock
                          </a>
                      </div>
                 </div>
                 <div class="col-md-6">
                      <div class="s-content__next mb-30 text-left text-md-right">
                          <a href="#0" rel="next">
                              <span>Next Post</span>
                               Nahan downplays Liberal lership tensions after white ant
                          </a>
                      </div>
                 </div>
             </div>
          </div>
      </div>

       <!-- also-like -->
      <div class="also-like mt-30">
          <div class="section-title mb-30">
              <h2>You may also like</h2>
          </div>
          <div class="row">
              <div class="col-lg-4 col-md-4">
                  <div class="postbox mb-30">
                      <div class="postbox__thumb">
                          <a href="#">
                              <img class="img-100" src="assets/img/trendy/sm1.jpg" alt="hero image">
                          </a>
                      </div>
                      <div class="postbox__text pt-10">
                          <div class="postbox__text-meta pb-10">
                              <ul>
                                  <li>
                                      <i class="fas fa-calendar-alt"></i>
                                      <span>01 Sep 2018</span>
                                  </li>
                                  <li>
                                      <i class="far fa-comment"></i>
                                      <span>(03)</span>
                                  </li>
                              </ul>
                          </div>
                          <h4 class="pr-0">
                              <a href="#">Paul Manafort’s Accountant Testifies She Helped Alter Financial</a>
                          </h4>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4">
                  <div class="postbox mb-30">
                      <div class="postbox__thumb">
                          <a href="#">
                              <img class="img-100" src="assets/img/trendy/sm2.jpg" alt="hero image">
                          </a>
                      </div>
                      <div class="postbox__text pt-10">
                          <div class="postbox__text-meta pb-10">
                              <ul>
                                  <li>
                                      <i class="fas fa-calendar-alt"></i>
                                      <span>01 Sep 2018</span>
                                  </li>
                                  <li>
                                      <i class="far fa-comment"></i>
                                      <span>(03)</span>
                                  </li>
                              </ul>
                          </div>
                          <h4 class="pr-0">
                              <a href="#">Paul Manafort’s Accountant Testifies She Helped Alter Financial</a>
                          </h4>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4">
                  <div class="postbox mb-30">
                      <div class="postbox__thumb">
                          <a href="#">
                              <img class="img-100" src="assets/img/trendy/sm3.jpg" alt="hero image">
                          </a>
                      </div>
                      <div class="postbox__text pt-10">
                          <div class="postbox__text-meta pb-10">
                              <ul>
                                  <li>
                                      <i class="fas fa-calendar-alt"></i>
                                      <span>01 Sep 2018</span>
                                  </li>
                                  <li>
                                      <i class="far fa-comment"></i>
                                      <span>(03)</span>
                                  </li>
                              </ul>
                          </div>
                          <h4 class="pr-0">
                              <a href="#">Paul Manafort’s Accountant Testifies She Helped Alter Financial</a>
                          </h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</ng-container>
