/* You can add global styles to this file, and also import other style files */

.no-display {
  display: none;
}

.mean-nav {
  background-color: #f7f7f7!important;
}

.margin-getir {
  margin-top: 15px;
}

.mean-expand {

  &:hover {
    background-color: #f7f7f7!important;
  }
}
