<div class="container">
  <div class="row">
    <div class="col-md-10 mb-5">
      <div class="card">
        <div class="card-header">
          Kişisel Verilerin Korunması & Gizlilik Politikası
        </div>
        <div class="card-body">

            <p>cezaavukatim.com olarak Kişisel Verilerinizin korunmasına önemsediğimizi bu alanda kanuna uygun önlem ve aşamalar kaydettiğimizi duyurmak isteriz.
Sitemizin değerli üye ve müvekkileri,
internet sitemizi giriş yapmak suretiyle ya da diğer herhangi bir şekilde bizimle temas tesis eden diğer gerçek kişilerin kişisel verilerinin korunmasın için gerekli tasarrufları yapmakta olup, 6698 sayılı Kişisel Verilerin Korunması Kanunu ("KVK Kanunu") çerçevesinde kişisel verilerin işlenmesi ve çerez ve benzeri teknolojilerin kullanımı konusundaki Şirket kural ve uygulamaları hakkında sizleri aydınlatmak amacı ile iş bu Kişisel Verilerin Korunması ve Gizlilik Politikasını ("Gizlilik Politikası") düzenlemiş bulunmaktayız.
cezaavukatim.com web sitesi ve mobil uygulamasında üye ve müvekkil bilgilerinin gizliliği, korunması, işlenmesi, kullanımı, değiştirilmesi, iletişimler ve sair hususlarda işbu metinde yer alan gizlilik politikasına tabi olacağınızı ve internet sayfamızı her kullanışınızda koşulları kabul ettiğinizden emin olmak için bu metni gözden geçirmeniz gerektiğinizi hatırlatmak isteriz.
Veri sorumlusu olarak Şirketimiz ile veri sahibinin ilişki türüne ve niteliğine göre, Şirketimiz tarafından veri sahibine iş bu metinden farklı kişisel veri politikaları ve/veya bildirimler sağlanması mümkündür. Bu durumda veri sahibine sağlanan söz konusu özel uygulama ve dönütlerde işbu Gizlilik Politikasında yer alan açıklamalardan farklı veya bu açıklamalara ek hususlar bulunabilir ve data sahibi tarafından kendisine sağlanan özel politika ve bildirimlerin öncelikle dikkate alınması gerekmektedir.</p>
            <footer class="blockquote-footer"><cite title="Source Title">Ceza Avukatım Ekibi</cite></footer>

        </div>
      </div>
    </div>
  </div>
</div>
